{% extends 'base.html' %}

{% block content %}
<h2>Inserir Novo Game</h2>
<form method="POST" action="{% url 'secoes:create' %}">
  {% csrf_token %}
  
  <p>
    <label for="id_name">Nome:</label>
    <input type="text" name="name" id="id_name" />
  </p>

  <p>
    <label for="id_release_year">Ano de Lançamento:</label>
    <input type="number" name="release_year" id="id_release_year" />
  </p>

  <p>
    <label for="id_poster_url">URL do Poster:</label>
    <input type="url" name="poster_url" id="id_poster_url" />
  </p>

  <button type="submit">Criar</button>
</form>

{% endblock content %}
