{% extends 'base.html' %}

{% block title %}
{{ game.name }} ({{ game.release_year }})
{% endblock title %}

{% block content %}
<h2>Detalhes do Jogo {{ game.name }} ({{ game.release_year }})</h2>

<p>
    <a href="{% url 'secoes:category-list' %}">Categorias</a>
</p>

<section class="dados-de-filme">
  <img src="{{ game.poster_url }}" alt="Wallpaper do jogo: {{ game.name}}" />
  <ul>
    <li>Nome: {{ game.name }}</li>
    <li>Ano de Lançamento: {{ game.release_year }}</li>
  </ul>
</section>

<h3>Comentários</h3>
{% if game.comments.all %}
    <ul>
    {% for comment in game.comments.all %}
        <li>
            <strong>{{ comment.author.username }}</strong>
            ({{ comment.created_at|date:"d/m/Y H:i" }}):<br>
            {{ comment.text }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Não há comentários ainda.</p>
{% endif %}

<p>
    <a href="{% url 'secoes:comment-create' game.id %}">Adicionar comentário</a>
</p>

<h3>Categorias</h3>
{% if game.categories.all %}
    <ul>
    {% for category in game.categories.all %}
        <li>
            <a href="{% url 'secoes:category-detail' category.id %}">{{ category.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Este jogo não possui categorias.</p>
{% endif %}

{% endblock content %}
